<p id="notice"><%= notice %></p>

<h1>Emergencies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.each do |emergency| %>
      <tr>
        <p> <%= link_to emergency.title, emergency %></p>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_emergency_path(emergency) %></td>
        <td><%= link_to 'Destroy', emergency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


